<!DOCTYPE html>
<html>
    <head>
        <title>info_view</title>
	<style>
        table, th,td {
            font-family: arial, sans-serif;
            border:1px solid black;
                
        }
        table {
            width:100%;
        }
        td,th {
            border: 1px solid #dddddd;
            text-align:left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color:#dddddd;
        }
	</style>


    </head>
        <body>
       {% if content is not none %}
            {% for k,v in content.iteritems %}
                {% if k  == 'instances' %}
                   <h3>(key,value) = ('{{k}}', value list) </h3>
                    <h3> |value list| = {{v | length}}</h3>
                    <hr>
                    {% for v2 in v %}
                    <h3>value[{{forloop.counter0}}]</h3>
                        <table>
                            {% for k3,v3 in v2.iteritems %}
                                <tr>
                                    <th>{{k3}}</th>
                                    {% if k3 == 'isolated_component' or k3 == 'hs_histogram' or k3 == 'img_gray' or k3 == 'img_bgr' %}
                                    <th> long numpy aray</th>
                                    {% else %}
                                    <th>{{v3}}</th>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            
                        </table>
                    {% endfor %}
                {% else %}
                    <h3>(key,value) = ('{{k}}', value) </h3>
                    <h3> value: </h3>
                    <table>
                    {% for k2,v2 in v.iteritems %}
                        <tr>
                            <th>{{k2}}</th>
                            <th>{{v2}}</th>
                        </tr>
                    {% endfor %}
                    </table>
                {% endif %}
            {% endfor %}
        {% endif %}
    </body>

</html>
