<!DOCTYPE html>
<html>
    <head>
        <title>info_view</title>
	<style>
        table, th,td {
            font-family: arial, sans-serif;
            border:1px solid black;
                
        }
        table {
            width:100%;
        }
        td,th {
            border: 1px solid #dddddd;
            text-align:left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color:#dddddd;
        }
	</style>
        <script>
            document.getElementById('imageBox').src="1_iso.png";
        </script>

    </head>
        <body>
       {% if content is not none %}
            {% load static %}
            <h3> Component:{{key}}</h3>
            <hr>
            {% for k,v in content.iteritems %}
                {% if k  == 'instances' %}
                <h3>(key,value) = ('{{k}}', value list({{v | length}})) </h3>
                    {% for v2 in v %}
                    <h3>value[{{forloop.counter0}}]</h3>
                        {% with gc=forloop.counter0 %}
                        <table>
                            {% for k3,v3 in v2.iteritems %}
                                <tr>
                                    <th>{{k3}}</th>
                                    {% if k3 == 'isolated_component' %}
                                    {% with gc|stringformat:"s" as num_str %}
                                    {% with 'model_viewer/'|add:num_str|add:'_iso.png' as image1_static %}
                                    <th><img src="{% static image1_static %}" alt="img_iso" /></th>
                                    {% endwith %}
                                    {% endwith %}
                                    {% elif k3 == 'hs_histogram' %}
                                    {% with gc|stringformat:"s" as num_str %}
                                    {% with 'model_viewer/'|add:num_str|add:'_hs.png' as image2_static %}
                                    <th><img src="{% static image2_static %}" alt="img_hs" /></th>
                                    {% endwith %}
                                    {% endwith %}
                                    {% elif k3 == 'img_gray' %}
                                    {% with gc|stringformat:"s" as num_str %}
                                    {% with 'model_viewer/'|add:num_str|add:'_gray.png' as image3_static %}
                                    <th><img src="{% static image3_static %}" alt="img_gray" /></th>
                                    {% endwith %}
                                    {% endwith %}
                                    {% elif  k3 == 'img_bgr' %}
                                    {% with gc|stringformat:"s" as num_str %}
                                    {% with 'model_viewer/'|add:num_str|add:'_bgr.png' as image4_static %}
                                    <th><img src="{% static image4_static %}" alt="img_bgr" /></th>
                                    {% endwith %}
                                    {% endwith %}
                                    {% else %}
                                    <th>{{v3}}</th>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            
                        </table>
                        {% endwith %}
                    {% endfor %}
                {% else %}
                    <h3>(key,value) = ('{{k}}', value) </h3>
                    <h3> value: </h3>
                    <table>
                    {% for k2,v2 in v.iteritems %}
                        <tr>
                            <th>{{k2}}</th>
                            <th>{{v2}}</th>
                        </tr>
                    {% endfor %}
                    </table>
                {% endif %}
            {% endfor %}
        {% endif %}
    </body>

</html>
