<html>
<head>
    <title>k3d viewer</title>
    <meta http-equiv="Content-type" content="text/html;charset=utf8" />
    <frameset cols="300px,*" border="1px" bordercolor="#C9C9C9" border-style="none">
        <frameset rows="20%,*" border="0px" bordercolor="#C9C9C9" border-style="none" id="main_frame" noresize>
            <frame src="/selector" name="selector" scrolling="yes">
            <frame src="/search_list/" name="search_list" scrolling="yes">
        </frameset>
        <frame src="/info_view" name="info_view" scrolling="yes">
    </frameset>

</head>
</html>
