<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <head>
        <title>selector</title>
        <script type="text/javascript">
        function FindFiles() {

            var obj=document.getElementById('mySelect');
            top.frames['search_list'].location="/search_list/?q=" + obj.value;

        }

        </script>
    </head>
    <body>
        <h2> K3D viewer </h2>
        <br/>
        <select id="mySelect">
            <option value="0" selected="selected">Data</option>
            {% for item in menu %}
            <option value={{item}}>{{item}}</option>
            {% endfor %}
        </select>
        <br/>

        <button onclick="FindFiles()">Open</button>
    
     </body>

</html>


